@import "tailwindcss";

@theme {
  --color-brand-primary: #2563eb;
  --color-brand-secondary: #0f172a;
  --color-brand-accent: #f0f9ff;
  
  --radius-xl: 1rem;
  --radius-2xl: 1.5rem;
}

:root {
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #f8fafc;
}